<div class="nav-color">
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
                    <%=link_to 'All tasks', category_tasks_path(:category_id)%>
    </li>
    <li class="nav-item">           
                    <%=link_to 'Categories',  categories_path%>
     </li>
      <li class="nav-item">           
                  <% if user_signed_in? %> 
<%= link_to('Logout', destroy_user_session_path, method: :delete ) %>       
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>
     </li>
</ul>
</div></br>
<h3>Hello <%= current_user.username%>!</h3>
