
 <%= render "banner" %>

<h3>All Tasks</h3>
<table class="table table-hover">
 <thead class="thead-dark">
  <tr>
    <th scope="col">Title</th> 
    <th scope="col">Category</th>
    <th scope="col">Deadline</th>
    <th scope="col">Actions</th>
    <th scope="col"></th>
  </tr>
  </thead>
     <% @tasks.each do |t| %>

<% if t.user_id === current_user.id %>
  <% if t.set_date === Date.today%>   
   <tr>
      <td class="desc"><h6><%= link_to t.title, show_task_path(t) %></h6></td>
      <td class="desc"><h6><%= link_to Category.find(t.category_id).name, category_path(t.category_id) %></h6></td>
      <td class="desc"><h6><%= t.set_date%></h6></td>
      <td><%= link_to 'Edit', edit_task_path(t), class: "badge badge-pill badge-warning"%></td>
      <td><%= link_to 'Delete', category_task_path(:category_id, t),
              method: :delete,
              data: { confirm: 'Are you sure you want this to delete?' }, class: "badge badge-pill badge-danger" %></td>
    </tr>
    <%end%>
  <% end %>
<%end%>
</table>
 <%=link_to 'Categories',  categories_path,  class:"badge badge-pill badge-secondary"%>
<%= link_to 'Create new task',   new_category_task_path(:category_id), class: "badge badge-pill badge-secondary" %>
