

<%= render "banner" %>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="top-img">
  <path fill="#79a3b1" fill-opacity="1" d="M0,320L60,266.7C120,213,240,107,360,58.7C480,11,600,21,720,58.7C840,96,960,160,1080,197.3C1200,235,1320,245,1380,250.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
</svg>

<%= form_with model: [@category, @task],  :url => {:controller => 'tasks', :action => 'create'}, class: "form",  local: true do |form| %>
 
 <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h1 class="text-muted">Create task</h1>
    <%=form.label :title%> : <br>
    <%=form.text_field :title, class: "form-control", placeholder: "Type here." %>

    <%=form.label :details%> :<br>
    <%=form.text_area :details, class: "form-control" %><br>
   
   <div class="select-container">
        <div class="select-child">
            <%= form.label :category %>
            <%= form.select :category_id, @categories.filter_map{ |c| [c.name, c.id] if c.user_id === current_user.id  } %>
        </div>
        <div class="select-child">
            <%= form.label :date_deadline%>
            <%= form.date_select :set_date, start_year: 1800, end_year: Time.now.year %>
    </div>

    </div>
   <div class="col text-center">
        <%= form.submit :Save, class: "btn btn-success"%>
    </div>
<%end%>
