
<%= render "banner" %>
<h3><%= E('cnk_bac473f6a7f2591a45e5') %> <%= E('cnk_145eb462e278f3db2a5a', variables: {title: @task.title} ) %>.</h3>
<div class="show">
    <div class="sticky-container">
    <div class="sticky-outer">
        <div class="sticky">
        <svg width="0" height="0">
            <defs>
            <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
                <path
                d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                stroke-linejoin="round"
                stroke-linecap="square"
                />
            </clipPath>
            </defs>
        </svg>
        <div class="card-container">
            <div class="sticky-content">
                <table class="tb">
                <tr><th><h6><%= E('cnk_0010d8a7206d53389cb7') %> <%= E('cnk_145eb462e278f3db2a5a', variables: {title: @task.set_date.strftime("%a, %d %b %Y")} ) %></h6> </th><tr>
                <tr><th><%=  E('cnk_145eb462e278f3db2a5a', variables: {title: @task.title} )  %></th></tr>
                <tr><td><%= E('cnk_145eb462e278f3db2a5a', variables: {title: @task.details} )  %></td></tr>
                </table>    

            </div>
        </div>
        </div>
    </div>
    </div>
</div>

