  <%= render "banner" %>
<h3>Edit Category</h3>
 
<%= form_with(model: @category, local: true) do |form| %>
 
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
  </p>
  
<div class="flexi">
    <div class="flexi2"><%= form.submit :Update, class: "btn btn-warning", style:"font-size:10px; "%></div>
    <div class="flexi2"><%= link_to 'Back', categories_path, class: "btn btn-primary", style:"font-size:10px;"%></div>
</div>
    
     
 
 
<% end %>
