<%= render partial: "banner" %><br>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="top-img">
  <path fill="#79a3b1" fill-opacity="1" d="M0,256L360,256L720,320L1080,224L1440,32L1440,0L1080,0L720,0L360,0L0,0Z"></path>
</svg>
<h3><%= E('cnk_6912a69422395f2c22c5') %></h3><br>

<table class="table table-hover">
 <thead class="thead-dark">
    <tr>
      <th scope="col"><%=E('cnk_79984688fd7e152babd0')%></th>
      <th scope="col"><%= E('cnk_19438cea883852231e7e') %></th>
      <th scope="col"></th>
      <th scope="col"><%= E('cnk_5c0ddf87d76483e06cba') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
 
     <% @category.each do |c| %>
    
  <%if c.user_id === current_user.id%>
   <tr>
      <td class="desc"><h4><%=c.name %></h4></td>
        <td class="desc"><h6><%= c.description %></h6></td>
      <td><%= link_to E('cnk_23960234a68b0fdc2ee0'), edit_category_path(c), class: "btn btn-outline-secondary"%></td>
      <td><%= link_to E('cnk_82e28a8774eda7ee43e5'), category_path(c),
              method: :delete,
              data: { confirm: 'Are you sure you want this to delete?' }, class:"btn btn-outline-danger btn-rounded waves-effect" %><td>
    </tr>
  <% end %>
  <% end %>
</table>

<%= link_to E('cnk_59fd0f93f98add7554df'), new_category_path, class: "btn btn-outline-success" %>
<%= link_to E('cnk_841aaf21af0b55f840ed'), new_category_task_path(:category_id), class: "btn btn-outline-success" %>
