<% if user_signed_in? %>
  
<%= link_to('Logout', destroy_user_session_path, method: :delete, class: "badge badge-pill badge-danger" ) %>       

<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>
<%=link_to 'View all tasks today',  category_tasks_path(:category_id), class: "badge badge-info" %>
<%= render "banner" %>
<h3>Categories</h3><br>
<table class="table table-hover">
 <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
 
     <% @category.each do |c| %>
    
  <%if c.user_id === current_user.id%>
   <tr>
      <td class="desc"><h4><%=  c.name %></h4></td>
        <td class="desc"><h6><%= c.description %></h6></td>
      <td><%= link_to 'Edit', edit_category_path(c), class: "badge badge-pill badge-warning"%></td>
      <td><%= link_to  'Delete', category_path(c),
              method: :delete,
              data: { confirm: 'Are you sure you want this to delete?' }, class: "badge badge-pill badge-danger" %><td>
    </tr>
  <% end %>
  <% end %>
</table>


<%= link_to 'New Category', new_category_path, class: "badge badge-info" %>
<%= link_to 'Create new task', new_category_task_path(:category_id), class: "badge badge-info" %>
