
<%= render "banner" %>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="top-img">
  <path fill="#79a3b1" fill-opacity="1" d="M0,160L60,149.3C120,139,240,117,360,112C480,107,600,117,720,138.7C840,160,960,192,1080,224C1200,256,1320,288,1380,304L1440,320L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
</svg>

<%= form_with model: @category, class: "form", local: true do |form| %>
 <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
    </div>
  <% end %>

<h1 class="text-muted">Create category</h1>
    <%=form.label :name%> : <br>
    <%=form.text_field :name, class: "form-control" %>

    <%=form.label :description%> :<br>
    <%=form.text_area :description, class: "form-control" %><br>

    <div class="col text-center">
        <%= form.submit :Save, class: "btn btn-success"%>
    </div>
<%end%>

</div>
