
<%= render "banner" %>

<%= form_with model: @category, class: "form", local: true do |form| %>
 <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
    </div>
  <% end %>

<h1 class="text-muted">Create category</h1>
    <%=form.label :name%> : <br>
    <%=form.text_field :name, class: "form-control" %>

    <%=form.label :description%> :<br>
    <%=form.text_area :description, class: "form-control" %><br>

    <div class="col text-center">
        <%= form.submit :Save, class: "btn btn-success"%>
    </div>
<%end%>

    <%= image_tag '5272.png', class: "vector img-responsive"%>
</div>
