<%= render "banner" %>

<div class="display-name">
<strong><%= E('cnk_22cefcbd9c7116349333') %></strong>
<strong><%= E('cnk_140c7ebde30fa4dd3dd7') %></strong>
  <%=  E('cnk_145eb462e278f3db2a5a', variables: {title: @category.name } ) %>
  <strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= E('cnk_aa2447cad6bdef42d243') %>:</strong>
  <%= E('cnk_145eb462e278f3db2a5a', variables: {title: @category.description} ) %>
</div>


  <% @tasks.each do |t| %>

  <%if t.user_id === current_user.id%>

  <div class="sticky-container">
  <div class="sticky-outer">
    <div class="sticky">
      <svg width="0" height="0">
        <defs>
          <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
            <path
              d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
              stroke-linejoin="round"
              stroke-linecap="square"
            />
          </clipPath>
        </defs>
      </svg>
      <div class="card-container">
        <div class="sticky-content">
            <table class="tb">
      
              <tr><th><%= t.title %></th></tr>
              <tr><td><%= t.details %></td></tr>
            </table>    
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
  <% end %><br>
